<h2 style="padding-left: 80px; text-align: center;"><span style="text-decoration: underline;">INDENT VOUCHER FOR ASC SUPPLY</span></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>Nature of Demand : {{demand_type}}</h4>
<h4>From : {{From}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; To : {{To}}</h4>
<h4>Formation : {{formation}}</h4>
<h4>Indent No and date : 542/{{current_indent_no}}/FOL dt {{current_date}}</h4>
<h4>Last Indent No &amp; dt : 542/{{last_indent_no}}/FOL dt {{last_order_date}}</h4>
<h4>Authority : Stn HQ, Babina Cantt stn Order No {{authority}} dt {{last_recived_dt}}</h4>
<h4>Reqmt dt : {{requier_date}}</h4>
<h4>For FOL Indent : {{fol_indent}}</h4>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 98.3956%; height: 267px;" border="1">
<tbody>
<tr style="height: 33px;">
<td style="width: 14.2857%; height: 33px; text-align: center;">
<h3><strong>S/No</strong></h3>
</td>
<td style="width: 17.0635%; height: 33px; text-align: center;">
<h3><strong>Items&nbsp;</strong></h3>
</td>
<td style="width: 8.90372%; height: 33px; text-align: center;">
<h3><strong>A/U</strong></h3>
</td>
<td style="width: 19.1487%; height: 33px; text-align: center;">
<h3><strong>Demand qty</strong></h3>
</td>
<td style="width: 15.3255%; height: 33px; text-align: center;">
<h3><strong>Passed qty</strong></h3>
</td>
<td style="width: 10.9871%; height: 33px; text-align: center;">
<h3><strong>Remarks</strong></h3>
</td>
</tr>
<tr style="height: 17px;">
<td style="width: 14.2857%; height: 17px; text-align: center;">
<h3>(a)</h3>
</td>
<td style="width: 17.0635%; height: 17px; text-align: center;">
<h3>HSD BS-VI</h3>
</td>
<td style="width: 8.90372%; height: 17px; text-align: center;">
<h3>Ltr</h3>
</td>
<td style="width: 19.1487%; height: 17px; text-align: center;">
<h3>{{hsd_r}}</h3>
</td>
<td style="width: 15.3255%; height: 17px;">&nbsp;</td>
<td style="width: 10.9871%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 14.2857%; height: 18px; text-align: center;">
<h3>(b)</h3>
</td>
<td style="width: 17.0635%; height: 18px; text-align: center;">
<h3>Gas 87 MT</h3>
</td>
<td style="width: 8.90372%; height: 18px; text-align: center;">
<h3>Ltr</h3>
</td>
<td style="width: 19.1487%; height: 18px; text-align: center;">
<h3>{{gas87_r}}</h3>
</td>
<td style="width: 15.3255%; height: 18px;">&nbsp;</td>
<td style="width: 10.9871%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 14.2857%; height: 18px; text-align: center;">
<h3>(c)</h3>
</td>
<td style="width: 17.0635%; height: 18px; text-align: center;">
<h3>Oil 2OW 50</h3>
</td>
<td style="width: 8.90372%; height: 18px; text-align: center;">
<h3>Ltr</h3>
</td>
<td style="width: 19.1487%; height: 18px; text-align: center;">
<h3>{{oil20w_r}}</h3>
</td>
<td style="width: 15.3255%; height: 18px;">&nbsp;</td>
<td style="width: 10.9871%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 14.2857%; height: 18px; text-align: center;">
<h3>(d)</h3>
</td>
<td style="width: 17.0635%; height: 18px; text-align: center;">
<h3>Oil SG-240</h3>
</td>
<td style="width: 8.90372%; height: 18px; text-align: center;">
<h3>Kg</h3>
</td>
<td style="width: 19.1487%; height: 18px; text-align: center;">
<h3>{{oilsg_r}}</h3>
</td>
<td style="width: 15.3255%; height: 18px;">&nbsp;</td>
<td style="width: 10.9871%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 14.2857%; text-align: center; height: 18px;">
<h3>(e)</h3>
</td>
<td style="width: 17.0635%; height: 18px; text-align: center;">
<h3>Grease XG-279</h3>
</td>
<td style="width: 8.90372%; height: 18px; text-align: center;">
<h3>Kg</h3>
</td>
<td style="width: 19.1487%; height: 18px; text-align: center;">
<h3>{{greasexg_r}}</h3>
</td>
<td style="width: 15.3255%; height: 18px;">&nbsp;</td>
<td style="width: 10.9871%; height: 18px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 14.2857%; height: 18px; text-align: center;">
<h3>(f)</h3>
</td>
<td style="width: 17.0635%; height: 18px; text-align: center;">
<h3>Oil 80W 90</h3>
</td>
<td style="width: 8.90372%; height: 18px; text-align: center;">
<h3>Ltr</h3>
</td>
<td style="width: 19.1487%; height: 18px; text-align: center;">
<h3>{{oil80w_r}}</h3>
</td>
<td style="width: 15.3255%; height: 18px;">&nbsp;</td>
<td style="width: 10.9871%; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>
<h4 style="text-align: center;">/</h4>
<h4 style="text-align: center;">(Items six only)</h4>
<p style="text-align: center;">&nbsp;</p>
<h3 style="text-align: left;">Certified that the demand confirms to all current order scale and limitation under which above are auth to be demanded by me for the pd of&nbsp;<span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp;</span>{{month_year}}. If any audit objn raised at the later stage this unit will be responsible to settle the same.</h3>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<h5 style="padding-left: 0px;">&nbsp;</h5>
<p style="text-align: left;"><span style="text-decoration: underline;"><strong>Signature of Indenting Officer</strong> <strong><span style="float: right;"> <span style="text-decoration: underline;">Signature of Receiving Officer </span></span></strong></span></p>